

/* body, generic */

.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* Non Hover Related NavBar*/
.cd-navigation {
    width: 100%;
    position: absolute;
    min-height: 40%;
}

.cd-auto-hide-header {
  background: none;

}

.cd-auto-hide-header::after {
    
    
  background: #A2C8CD;
  content: '';
  display: table;
  clear: both;
}


nav {
  float: inherit;
}

nav ul {
  margin: 0;
  list-style: none;
}
/* every item in the navigation bar list has "nav li" traits, for example change the margin to space each unordered list item out*/
nav li {
  display: inline-block;
  margin-left: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
/* "nav a" HOVER effect*/
nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: lightblue;
  position: absolute;
  bottom:0;
  width: 0%;
  transition: all ease-in-out 250ms;

}

nav a:hover::before {
  width: 100%;
    

}

/*end of nav a hover effect*/














/* bottom layer html color*/
html {
    
    background-color: #EDEAE5;
    
}

/* end of html*/














/* CSS GRID wrapper class nth child, etc */

 .wrapper > div{
          background: grey;
          padding: 1em;
      }
      .wrapper > div:nth-child(odd) { background:#9FEDD7 }
      
      .wrapper {
          display: grid;
         grid-template-columns: 5fr 2fr 3fr; 
          /*grid-template-rows: 1fr 2fr;*/
          grid-gap: 1em;
          grid-auto-rows: 300px;
          
      }
/* END OF CSS GRID wrapper class */
